{% extends 'base_en.html' %}

{% block headTitle %}
    About us
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h2 class="text-center display-4 adaptive-heading">About us</h2>
        <div class="container mx-auto my-4 py-3 main-article-picker">
            <div class="container mx-auto my-3 p-3 main-article">
                <img class="img-fluid mx-auto d-block about-pic" src="{{ url_for('static', filename='media/About.png') }}" alt="Picture">
                <p class="text-center px-5 py-2 pt-3 mx-auto">
                    The company "BMKA" GmbH specializes in the transportation of all types of cargo. 
                    We provide transportation throughout the territory of Hamburg and Europe, as well as intercity.
                </p>
                <p class="text-center px-5 py-2 mx-auto">
                    Our key factor is an individual approach to each client, instant processing of incoming requests.
                </p>
                <p class="text-center px-5 py-2 mx-auto">
                    If you need cargo, our managers are ready to advise You 
                    and make an optimal calculation of the cost of transportation.
                </p>
                <p class="text-center px-5 py-2 mx-auto">
                    High quality, strict compliance 
                    with contractual terms and adequate pricing policy are the main conditions under which the company operates.
                </p>
                <p class="text-center px-5 py-2 mx-auto">
                    “BMKA” GmbH respects each partner, regardless of the direction and volume of business. Our company is focused exclusively 
                    on mutually beneficial long-term cooperation based on a high degree of responsibility on both sides.
                </p>
                <p class="text-center px-5 py-2 mx-auto">
                    Impeccable business reputation is the factor that we strive for in our work with You!
                </p>
                <p class="text-center px-5 py-2 pb-3 mx-auto">
                    Our company will choose the best ways to deliver Your cargo with full 
                    consideration of the characteristics of the cargo, delivery terms, security guarantees and your personal 
                    wishes.
                </p>
            </div>
        </div>
    </div>
    
    <div class="container-fluid my-5">
        <h2 class="text-center display-4 my-3">How to get to us?</h2>
        <div class="container embed-responsive embed-responsive-21by9">
            <iframe class="map embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d45755.24304051268!2d10.192474616926912!3d53.66923847412888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b21f8a3be327ff%3A0xd7f63eb36a94654!2z0JDRgNC10L3RgdCx0YPRgNCzLCDQk9C10YDQvNCw0L3QuNGP!5e1!3m2!1sru!2s!4v1597734402707!5m2!1sru!2s" 
            frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <p class="text-center"><a class=" yandex-link" target="_blank" href="https://yandex.ru/maps/115102/ahrensburg/?l=sat%2Cskl&ll=10.240634%2C53.674395&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fll%3D10.234%252C53.670%26spn%3D0.052%252C0.029%26text%3DDeutschland%252C%2520Schleswig-Holstein%252C%2520Stormarn%252C%2520Ahrensburg&z=14">View in Yandex maps</a></p>
    </div>
    {% for state in about %}
        <div class="container-fluid">
            {% if state.about_heading_en is not none and state.about_heading_en != "" %}
                <h2 class="text-center display-4 adaptive-heading">{{ state.about_heading_en }}</h2>
            {% endif %}
            <div class="container mx-auto my-4 py-3 main-article-picker">
                <div class="container mx-auto my-3 p-3 main-article">
                    {% if state.img_link is not none and state.img_link != "" %}
                        <img class="img-fluid my-3 mx-auto d-block" src="{{state.img_link}}" alt="Picture">
                    {% endif %}
                    <p class="text-center p-2 pt-3 mx-auto about-text">
                        {% if state.about_text_en is not none and state.about_text_en != "" %}
                            {{ state.about_text_en }}
                        {% endif %}
                    </p>
                    {% if current_user.has_role('admin') %}
                    <div class="ml-4">
                        <a href="/en/about/{{ state.id }}/edit" class="btn btn-sm btn-success"><i class="fa fa-pencil"></i></a>
                        <a href="/en/about/{{ state.id }}/del" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}