{% extends 'base.html' %}

{% block carItem1 %}
    BKMA | Transport
{% endblock %}

{% block carItem2 %}
    BKMA | Transport
{% endblock %}

{% block carItem3 %}
    BKMA | Transport
{% endblock %}

{% block home %}
    Wichtig
{% endblock %}

{% block services %}
    Dienstleistungen
{% endblock %}

{% block about %}
    Über uns
{% endblock %}

{% block contacts %}
    Kontakte
{% endblock %}

{% block logolink %}
    href="/"
{% endblock %}

{% block language %}
    Sprache
{% endblock %}

{% block menulinkhome %}
    href="/"
{% endblock %}

{% block menulinkservices %}
    href="/services/"
{% endblock %}

{% block menulinkabout %}
    href="/about-us/"
{% endblock %}

{% block menulinkcontacts %}
    href="/contact-us/"
{% endblock %}


{% block footerLogoHome %}
    href="/"
{% endblock %}

{% block footerHome %}
    Wichtig
{% endblock %}

{% block footerServices %}
    Dienstleistungen
{% endblock %}

{% block footerAbout %}
    Über uns
{% endblock %}

{% block footerContacts %}
    Kontakte
{% endblock %}


{% block footerLinkHome %}
    href="/"
{% endblock %}

{% block footerLinkServices %}
    href="/services/"
{% endblock %}

{% block footerLinkAbout %}
    href="/about-us/"
{% endblock %}

{% block footerLinkContacts %}
    href="/contact-us/"
{% endblock %}

{% block privacy %}
    Datenschutzerklärung
{% endblock %}

{% block privacyLink %}
    /privacy
{% endblock %}