{% extends 'base.html' %}

{% block carItem1 %}
    BKMA | Транспортировка
{% endblock %}

{% block carItem2 %}
    BKMA | Транспортировка
{% endblock %}

{% block carItem3 %}
    BKMA | Транспортировка
{% endblock %}

{% block home %}
    Главная
{% endblock %}

{% block services %}
    Услуги
{% endblock %}

{% block about %}
    О нас
{% endblock %}

{% block contacts %}
    Контакты
{% endblock %}

{% block language %}
    Язык
{% endblock %}

{% block logolink %}
    href="/ru"
{% endblock %}

{% block menulinkhome %}
    href="/ru"
{% endblock %}

{% block menulinkservices %}
    href="/ru/services/"
{% endblock %}

{% block menulinkabout %}
    href="/ru/about/"
{% endblock %}

{% block menulinkcontacts %}
    href="/ru/contacts/"
{% endblock %}


{% block footerHome %}
    Главная
{% endblock %}

{% block footerServices %}
    Услуги
{% endblock %}

{% block footerAbout %}
    О нас
{% endblock %}

{% block footerContacts %}
    Контакты
{% endblock %}


{% block footerLogoHome %}
    href="/ru"
{% endblock %}

{% block footerLinkHome %}
    href="/ru"
{% endblock %}

{% block footerLinkServices %}
    href="/ru/services/"
{% endblock %}

{% block footerLinkAbout %}
    href="/ru/about/"
{% endblock %}

{% block footerLinkContacts %}
    href="/ru/contacts/"
{% endblock %}

{% block privacy %}
    Политика конфиденциальности
{% endblock %}

{% block privacyLink %}
    /ru/privacy
{% endblock %}
