{% extends 'base.html' %}

{% block carItem1 %}
    BKMA | Transportation
{% endblock %}

{% block carItem2 %}
    BKMA | Transportation
{% endblock %}

{% block carItem3 %}
    BKMA | Transportation
{% endblock %}

{% block home %}
    Main
{% endblock %}

{% block services %}
    Services
{% endblock %}

{% block about %}
    About us
{% endblock %}

{% block contacts %}
    Contact us
{% endblock %}

{% block language %}
    Language
{% endblock %}

{% block logolink %}
    href="/en"
{% endblock %}

{% block menulinkhome %}
    href="/en"
{% endblock %}

{% block menulinkservices %}
    href="/en/services/"
{% endblock %}

{% block menulinkabout %}
    href="/en/about/"
{% endblock %}

{% block menulinkcontacts %}
    href="/en/contacts/"
{% endblock %}


{% block footerHome %}
    Main
{% endblock %}

{% block footerServices %}
    Services
{% endblock %}

{% block footerAbout %}
    About us
{% endblock %}

{% block footerContacts %}
    Contact us
{% endblock %}


{% block footerLogoHome %}
    href="/en"
{% endblock %}

{% block footerLinkHome %}
    href="/en"
{% endblock %}

{% block footerLinkServices %}
    href="/en/services/"
{% endblock %}

{% block footerLinkAbout %}
    href="/en/about/"
{% endblock %}

{% block footerLinkContacts %}
    href="/en/contacts/"
{% endblock %}

{% block privacy %}
    Privacy Policy
{% endblock %}

{% block privacyLink %}
    /en/privacy
{% endblock %}
